<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="../src/css/style.css" >
    <title><%= title %></title>
</head>
<body>
   
        <nav>
            <div class="navbar">
                <h1 >
                    KIRTI <b style="color: yellow;">BACKEND</b>
                </h1>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a>Documentation</a></li>
                    <li><a>Service</a></li>
                    <li><a>About</a></li>
                </ul>
            </div>
        </nav>
    <br><br><br><br><br><br>
    <h1 style="color: gold; text-align: center; font-size: 32px;">WELCOME TO KIRTI <br/> 
        BACKEND DOCUMENTATION</h1>
    <p style="font-size: 20px; text-align: center;">Dokumentasi dan Sistem BackEnd course webkirti SMKN 1 Gombong</p>
    <center>
        <div class="container">
            <span><h2 style="color: red;">Our About</h2></span>
        <div class="box-list">
       
        <div class="box-web">
            <h3>Mudah Dipahami</h3>
            <p>Dokumentasi yang terstruktur dan mudah dipahami</p>
        </div>
        <div class="box-web">
            <h3>Inovasi dan Unik </h3>
            <p>Menggunakan Teknologi terkini dan populer di Industri</p>
        </div>
        <div class="box-web">
            <h3>OpenSource</h3>
            <p>Bebas digunakan oleh siapa saja</p>
        </div>
    </div></center></div>
    <div>
        <footer>
            <div class="footer-list">
                <ul>
                    <li>Home</li>
                    <li>Contact</li>
                    <li>Service</li>
                    <li>Arsip</li>
                </ul>
                <ul>
                    <li>Docs</li>
                    <li>Service</li>
                    <li>About</li>
                    <li>Arsip</li>
                </ul>
                <ul>
                    <li>Home</li>
                    <li>Contact</li>
                    
                </ul>
            </div>
            <hr>
           <p style="text-align: center;"> @Hak Cipta Dilidungi Undang Undang KIRTI 2023-Sekarang</p>
        </footer>
    </div>
    <style>
        .container{
            
            background-color: white;padding: 5px;
            box-shadow: 5px 4px 6px rgba(0,0,0,.25);border-radius: 8px;
        }
        .box-list{
            display: flex; justify-content: space-around;
        }
        .footer-list{
            display: flex;justify-content: space-evenly;
            
        }
        .footer-list ul {
            padding: 10px;
        }
        .footer-list ul li{
            list-style: none;font-size: 25px;
        }
        @media(max-width:670px){
            .box-list{
                display: block;gap:3rem;
               align-items:center; justify-content: center;
            }
        }
    </style>
    <style>
        body{
            margin: 0;padding: 0;top: 0;background-color: rgb(240, 239, 239);
            font-family: Arial, Helvetica, sans-serif;margin-left: 5px;
            margin-right: 5px;
        }
        .box-web{
            width: 300px;margin:10px;
            height: 230px;box-shadow: 2px 3px 5px rgba(0,0,0,.25);
            border: 0.1px solid grey;
            border-radius: 8px;
        }
        .navbar{
            top: 0px;position: fixed;border-bottom-right-radius: 8px;
            margin:0;text-align: center;right: 5px;left: 5px;
             background-color: rgb(104, 199, 223);border-bottom-left-radius: 8px;
             box-shadow: 3px 4px 7px rgba(0,0,0,.25);
        }
        .navbar ul {
            display: flex; justify-content: center;
            padding: 1px;
        }
        .navbar ul li {
            list-style: none;padding: 3px;
        }
        .navbar ul li a{
            text-decoration: none;color: black;
        }
    </style>
</body>
</html>